<h2>Methods</h2>

{% for method in methods %}

    <h3>{{ method.name }}</h3>
    {{ method.summary|raw }}
    {{ method.longDescription|raw }}

    <ul>
        <li>Visibility: {{ method.visibility }}</li>
        {% if method.isAbstract %}*
            <li>Is abstract</li>
        {% endif %}

        {% if method.isStatic %}*
            <li>Is static</li>
        {% endif %}

        {% if method.isDeprecated %}*
            <li>Deprecated</li>
        {% endif %}
    </ul>

{#    {% if method.definedBy != className %}* This method is defined by {{ method.definedBy|classLink }}#}
{#    {% endif %}#}

{#    {% if method.parameters %}#}
{#        #### Parameters#}
{#        {% for argument in method.parameters %}#}
{#            * {{ argument.name }} **{% if argument.type %}{{ argument.type|classLink }}{% else %}mixed{% endif %}**{% if argument.description %} - {{ argument.description }}{% endif %}#}
{##}
{#        {% endfor %}#}
{##}
{#    {% endif %}#}


{% endfor %}
